<meta charset="utf-8">
<title>Jeremy Ward</title>
<link rel="stylesheet" href="styles/main.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/styles/favicon.ico" type="image/x-icon">
