<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link href="https://fonts.googleapis.com/css?family=Expletus+Sans|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Raleway|Ubuntu|Forum" rel="stylesheet">  <body class="bodyPage">
    <main >
      <section id="header">
      </section>
      <section id="main">
      </section>
    </main>
  </body>
  <script src="dist/bundle.js" charset="utf-8"></script>
  <script src="https://use.fontawesome.com/d402f85af1.js"></script>
</html>
