<!DOCTYPE html>
<html>
  <head >
    <% include ../partials/header.ejs %>
  </head>
  <body class="bodyPage">
    <main >
      <section id="header">
      </section>
      <section id="main">
      </section>
    </main>
  </body>
  <script src="dist/bundle.js" charset="utf-8"></script>
  <script src="https://use.fontawesome.com/d402f85af1.js"></script>
</html>
