#banner { position:relative; border-bottom:10px solid #ff8a00; background:url(../img/ui/banner-bg.png) no-repeat center top; }
#fader {position: relative; height:500px;}
#fader  ul  li { width:100%;}
#fader .slide-title {margin:184px auto 10px; font:50px 'PT Sans Narrow',Arial, Helvetica, sans-serif; color:#ffffff; text-transform: uppercase; width:745px; height:115px; background:url(../img/ui/banner-content-bg.png) repeat-x; text-align:center; padding-top:15px; line-height:100px;}
#fader .slide-title span{color:#ffb400; }
#fader .slide-title .sub{display:block; font-size:20px; letter-spacing:8px; color:#ffffff; }

#banner a.prev, #banner a.next{	position:absolute; background-image:url(../img/ui/banner-prev-next.png); width:41px; height:41px; top:230px; text-indent:-9999px; z-index:10; }
#banner a.prev{ left:0; background-position:0 41px; }
#banner a.next{ right:0;background-position:0 0; }
