* {
  box-sizing: border-box;
}

body{
  height: auto;
  width: auto;
}

.body_page {
  background-color: darkslategrey;
  width: 100%;
}

.home_page {
  margin-top: 0;
}

.hidden {
  display: none;
}

.nav_bar {
  display: inline-flex;
  background-color: snow;
  border-radius: 5px;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color: #3F51B5;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.my_box {
  display: inline-flex;
  text-decoration: none;
  width: auto;
  vertical-align: text-bottom;
}

.my_image {
  display: inline-block;
  height: 3em;
  margin-left: 1%;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  width: auto;
}

@keyframes zoom {
  from {height: 3.5em;
        width: 3.3em;}
  to {height: 8.5em;
        width: 9em;}
}

/* The element to apply the animation to */
.my_image_large {
  border: darkgrey solid 3px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  animation-name: zoom;
  animation-duration: 1s;
  height: 8.5em;
  margin-left: .3em;
  margin-top: 1%;
  width: 9em;
}

.name_info {
  vertical-align: text-bottom;
  margin: 0;
}

.my_contact_info {
  display: block;
  color: black;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin-left: 1em;
  vertical-align: text-bottom;
}

.nav_top_right {
  right: 0;
  bottom: 0;
  position: absolute;
  height: auto;
}

.github_icon {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .9em;
  margin-left: .1em;
  margin-right: .3em;
  margin-top: 2.3em;
  margin-bottom: .1em;
  white-space: pre;
}

.github_button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.nav_button {
  color: black;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;
  margin-right: .3em;
  margin-top: 1.7em;
  padding: 4px;
  text-decoration: none;
}

.home_page {
  height: 38em;
  margin: 0;
  padding: 1em;
  width: 101%;
}

.home_area {
  margin-top: 5em;
}

.my_name_area {
  display: inline-block;
  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 242, color-stop(0, #FFFFFF), color-stop(100, #8A9699));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #8A9699 100%);
  box-shadow: 8px 10px 9px rgba(0,0,0,0.3);
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
  opacity: .9;
  margin-top: 5%;
  width: auto;
}

.my_name_area:hover {
    /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #F5F5F5 20%, #F3FFC2 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #F5F5F5 20%, #F3FFC2 100%);
  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #F5F5F5 20%, #F3FFC2 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(20, #F5F5F5), color-stop(100, #F3FFC2));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #F5F5F5 20%, #F3FFC2 100%);
  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #F5F5F5 20%, #F3FFC2 100%);
  opacity: 1;
}

@-webkit-keyframes fade-in {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

.my_name {
  -webkit-animation:fade-in 5s;
  opacity: 1;
  color: darkslategrey;
  font-size: 6em;
  font-family: 'Raleway', sans-serif, bold;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1%;
  text-align: center;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 4px 6px 5px rgba(0,0,0,0.3);
  -webkit-perspective: 600;
  width: 100%;
}

.intro_skills_area{
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
  text-align: center;
  height: 80%;
  width: auto;
}

.intro_area {
  display: block;
  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 242, color-stop(0, #FFFFFF), color-stop(100, #8A9699));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #8A9699 100%);
  box-shadow: 8px 10px 9px rgba(0,0,0,0.3);
  margin: 0;
  opacity: .9;
  padding: 1em;
  position: relative;
  height: auto;
  width: 100%;
}

.intro_area:hover {
  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);
  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #F2F2F2), color-stop(100, #7db9e8));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);
  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #F2F2F2 0%, #7db9e8 100%);
  box-shadow: 8px 10px 9px rgba(0,0,0,0.3);
  opacity: 1;
}

.intro_text {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-size: 1.1em;
  text-indent: 1em;
  text-align: left;
}

.projects_button {
  background-color: white;
  font-size: 1em;
  font-family: 'Raleway', sans-serif, bold;
  height: 2em;
  text-align: center;
  padding: 0;
  width: 5em;
}

.skills_area {
  /*border: solid 2px;*/
  display: inline-block;
  box-shadow: 8px 10px 9px rgba(0,0,0,0.3);
  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 242, color-stop(0, #FFFFFF), color-stop(100, #8A9699));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #8A9699 100%);
  background-color: rgba(255,255,255,0.3);
  opacity: .8;
  transition: .8s;
  padding: 5%;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
  opacity: .9;
  margin-top: 1%;
  width: auto;
}

.skills_area:hover {
  background-image: url("/styles/code.jpg");
  opacity: 1;
}

.skills_area:hover .skills_text {
  color: white;
  opacity: 1;
}

.skills_text {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 1;
  text-align: center;
  width: auto;
}

.project_area {
  background-color: lightgrey;
   background: linear-gradient(white, dimgrey);
  position: relative;
  padding: 30px;
  display: none;
  height: 35em;
  margin-top: 6em;
  margin-left: 8em;
  width: 62em;
}

.project_area,
.project_area::before,
.project_area::after {
  /* Add shadow to distinguish sheets from one another */
  box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
}

.project_area::before,
.project_area::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index: 0;
}

/* Second sheet of project_area */
.project_area::before {
  left: 7px;
  top: 5px;
  z-index: -1;
}

/* Third sheet of project_area */
.project_area::after {
  left: 12px;
  top: 10px;
  z-index: -2;
}

.project_area_collapse {
  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);
  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #F2F2F2), color-stop(100, #7db9e8));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);
  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #F2F2F2 0%, #7db9e8 100%);
  box-shadow: 8px 10px 9px rgba(0,0,0,0.3);
  opacity: 1;
  animation-name: collapse;
  animation-duration: 1s;
}

.project_image {
  display: inline-block;
  height: 25em;
  margin-left: 1em;
  margin-top: 1em;
  width: 35em;
}

.sudoku_title {
  color: darkslategrey;
  font-family: 'Raleway', sans-serif, bold;
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  width: 14em;
}

.wrap {
  display: inline-block;
  height: 10em;
  margin-left: 1em;
	perspective: 60em;
	perspective-origin: 40% -10em;
  width: 20em;
  vertical-align: top;
  margin-top: 3em;
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 30s infinite linear;
  margin: 0 auto;
  position: relative;
	width: 26em;
	transform-style: preserve-3d;
}

.cube div {
	position: absolute;
	width: 16em;
	height: 16em;
  margin-left: 5em;
}

.back {
	transform: translateZ(-8em) rotateY(180deg);
}

.right {
	transform: rotateY(-270deg) translateX(8em);
	transform-origin: top right;
}

.left {
	transform: rotateY(270deg) translateX(-8em);
	transform-origin: center left;
}

.top {
	transform: rotateX(-90deg) translateY(-8em);
	transform-origin: top center;
  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 242, color-stop(0, #FFFFFF), color-stop(100, #8A9699));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);
  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #8A9699 100%);
  background-color: white;
}

.bottom {
  background-color: lightgrey;
	transform: rotateX(90deg) translateY(8em);
	transform-origin: bottom center;
}

.front {
	transform: translateZ(8em);
}

.sudoku_image_cube {
  border: black solid 2px;
  float: left;
  height: 100%;
  width: 100%;
}

.sudoku_description {
  display: inline-block;
  height: 20em;
  margin-left: 11em;
  margin-top: 2em;
  width: 20em;
}

.sudoku_text {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  text-indent: 1em;
}

.sudoku_app_button {
  background-color: darkgrey;
  color: black;
  height: 2em;
  width: 10em;
}

.sudoku_code_button {
  background-color: darkgrey;
  color: black;
  height: 2em;
  margin-left: 2em;
  width: 10em;
}

.dollartrak_title {
  color: darkslategrey;
  font-family: 'Raleway', sans-serif, bold;
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  width: 14em;
}

.dollartrak_description {
  display: inline-block;
  height: 20em;
  margin-left: 1em;
  margin-top: 2em;
  vertical-align: top;
  width: 20em;
}

.dollartrak_text {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  text-indent: 1em;
}

.play_dollartrak_movie {
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
}

.dollartrak_video {
  display: inline-block;
  height: 7em;
  margin-left: 5em;
  width: 10em;
}

.dollartrak_code_button {
  background-color: darkgrey;
  color: black;
  display: block;
  margin-left: 11em;
  vertical-align: top;
  margin-top: 3em;
}

.spursblog_title {
  color: darkslategrey;
  font-family: 'Raleway', sans-serif, bold;
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  width: 14em;
}

.spurs_blog_description {
  display: inline-block;
  height: 20em;
  margin-left: 1em;
  margin-top: 2em;
  vertical-align: top;
  width: 20em;
}

.spursblog_text {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  text-indent: 1em;
}

.spursblog_app_button {
  background-color: darkgrey;
  color: black;
  height: 2em;
  width: 10em;
}

.spursblog_code_button {
  background-color: darkgrey;
  color: black;
  height: 2em;
  margin-left: 2em;
  width: 10em;
}

.tictactoe_image {
  border: solid grey 2px;
  display: inline-block;
  height: 25em;
  margin-left: 3em;
  margin-top: 2em;
  width: 25em;
}

.tictactoe_title {
  color: darkslategrey;
  font-family: 'Raleway', sans-serif, bold;
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  width: 14em;
}

.tictactoe_description {
  display: inline-block;
  height: 20em;
  margin-left: 3em;
  margin-top: 3em;
  vertical-align: top;
  width: 25em;
}

.tictactoe_text {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  text-indent: 1em;
}

.tictactoe_app_button {
  background-color: darkgrey;
  color: black;
  height: 2em;
  width: 10em;
}

.tictactoe_code_button {
  background-color: darkgrey;
  color: black;
  height: 2em;
  margin-left: 2em;
  width: 10em;
}

.posts_section {
  background-color: white;
  box-shadow: 12px 12px 12px rgba(0,0,0,0.3);
  height: 40em;
  margin-left: 15%;
  margin-top: 10%;
  overflow: scroll;
  padding: 2%;
  width: 70%;
}

.posts_text_title {
  color: darkblue;
  font-family: 'Forum', serif;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 1%;
  margin-right: .3em;
  text-indent: 1em;
}

.posts_text {
  color: black;
  display: block;
  font-size: 1.5em;
  font-family: 'Forum', serif;
  font-weight: lighter;
  line-height: 1.1em;
  margin: 1%;
  text-indent: 1em;
  word-wrap: break-word;
}

.top_button {
  display: none;
}

.the_iron_yard_title {
  color: white;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  font-weight: normal;
  margin-top: 2em;
  margin-bottom: .1em;
  text-align: center;
}

.the_iron_yard {
  color: orchid;
  font-size: 3em;
  font-weight: normal;
}

.image_TIY {
  border: black solid 4px;
  display: block;
  margin-top: 1%;
  margin: 0 auto;
  width: 60%;
}

.image_cert {
  border: black solid 4px;
  display: block;
  height: 5%;
  margin: 0 auto;
  margin-top: 5em;
  width: 60%;
}

.caption {
  color: white;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  margin-bottom: .1em;
  text-align: center;
}

.photos_page {
  background-color: darkslategray;
  border: solid 5px;
  height: auto;
  padding-bottom: 2em;
  width: 101%;
}

.display_photo_none {
  display: none;
}

.my_projects {
  margin: 0 auto;
  margin-left: -1em;
  padding: 2em;
  vertical-align: top;
  display: none;
}

.slide_button_area {
  height: 4em;
  left: 25em;
  top: 33em;
  position: absolute;
  width: 12em;
}

.slide_button_left {
  background-color: grey;
  font-size: 1em;
  font-family: 'Raleway', sans-serif, bold;
  margin-left: 1em;
  padding: 0;
  width: 5em;
}

.slide_button_right {
  background-color: grey;
  font-size: 1em;
  font-family: 'Raleway', sans-serif, bold;
  margin-left: 1em;
  padding: 0;
  width: 5em;
  white-space: pre;
}

.first_project {
  display: inline-block;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.photos {
  border: solid 5px;
  display: flex;
  height: 45%;
  margin: 0 auto;
  vertical-align: top;
  width: 60%;
}

.photos_instruction {
  border: solid 5px;
  display: flex;
  height: 45%;
  margin: 1%;
  margin-right: .3em;
  vertical-align: top;
  width: 60%;
}

.bio_section {
  background-image: url("/styles/tx.jpg");
  border: black solid 5px;
  height: 43em;
  margin-left: 7%;
  margin-top: 4em;
  padding: 5em;
  width: 82%;
}

.bio_background {
  background-color: lightyellow;
  border: solid 2px;
  height: auto;
  opacity: .85;
}

.bio_text {
  color: black;
  font-family: 'Forum', serif;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: .2;
  padding: .8em;
  text-indent: 1em;
  width: auto;
}

.bio_image {
  display: none;
}

.bio_star {
  display: none;
}

@media only screen
  and (min-device-width : 1281px)
  and (max-device-width : 1500px) {
    .body_page {
      width: 1440px;
    }
}

@media only screen
  and (max-device-width : 800px) {
    .body_page {
      background-image: none;
    }
  }

@media only screen
  and (min-device-width : 601px)
  and (max-device-width : 799px) {

.body_page {
}
  .my_name {
  }
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 600px) {

  .body_page {
    width: 98%;
  }

  .my_info_box {
    margin-left: 20em;
  }

  .my_image {
    height: 5em;
    width: 7em;
  }

  .my_contact_info {
    font-size: 2em;
    margin-top: .2em;
    width: 10em;
  }

  .nav_bar {
    height: 9.5em;
    width: 100%;
  }

  .nav_top_right {
    height: 4em;
    margin-left: 10em;
    width: 99%;
  }

  .nav_button {
    font-size: 2.9em;
    margin-right: .1em;
    margin-top: 0em;
    width: auto;
  }

  .github_icon {
    font-size: 2.7em;
    margin-left: .1em;
    margin-top: .1em;
  }

  .my_name_area {
    display: block;
    margin: 0 auto;
    margin-top: 12em;
  }

  .intro_area {
    font-size: 2em;
    height: auto;
    margin-left: 0%;
    margin-top: 1em;
    width: 100%;
  }

  .projects_button {
    display: block;
    font-size: 1.5em;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .skills_area {
    display: block;
    margin: 0 auto;
    margin-top: 3em;
    padding: 1.5em;
    width: 25em;
  }

  .skills_text {
    margin-top: 0.6em;
  }

  .project_area {
    height: 90em;
    margin-left: 0;
    margin-top: 5em;
    width: 100%;
  }

  .slide_button_area {
    display: block;
    top: 83em;
    left: 1em;
    margin: 0 auto;
    width: 57em;
  }

  .slide_button_left {
    float: left;
    font-size: 2em;
    height: 2em;
  }

  .slide_button_right {
    float: right;
    font-size: 2em;
    height: 2em;
    margin-left: 1em;
  }

  .tictactoe_title {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    width: 10em;
  }

  .tictactoe_image {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
  }

  .tictactoe_description {
    font-size: 2em;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
  }

  .tictactoe_buttons {
    display: block;
    height: 7em;
    margin: 0 auto;
    width: 15em;
  }

  .tictactoe_app_button {
    font-size: 1em;
    width: 6em;
  }

  .tictactoe_code_button {
    font-size: 1em;
    width: 6em;
  }

  .project_image {
    margin-left: 10em;
  }

  .spursblog_title {
    display: block;
    font-size: 3em;
    margin: 0 auto;
    margin-top: 5em;
  }

  .spurs_blog_description {
    font-size: 2em;
    display: block;
    margin: 0 auto;
  }

  .spursblog_buttons {
    display: block;
    height: 7em;
    margin: 0 auto;
    width: 15em;
  }

  .spursblog_app_button {
    font-size: 1em;
    width: 6em;
  }

  .spursblog_code_button {
    font-size: 1em;
    width: 6em;
  }

  .dollartrak_title {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
  }

  .dollartrak_description {
    font-size: 2em;
    display: block;
    margin: 0 auto;
    margin-top: 0em;
    width: 85%;
  }

  .play_dollartrak_movie {
    float: left;
    margin-left: 0em;
  }

  .dollartrak_video {
    display: inline-block;
    margin-left: 1em;
    height: 9em;
    width: 12em;
  }

  .dollartrak_code_button {
    display: inline-block;
    height: auto;
    font-size: 1em;
    margin-left: 3em;
    margin-top: 4em;
  }

  .sudoku_title {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
  }

  .wrap {
    display: block;
    margin: 0 auto;
    width: 40em;
    margin-top: 6em;
  }

  .sudoku_description {
    font-size: 2em;
    margin-left: 3em;
    margin-top: 8em;
    width: 80%;
  }

  .sudoku_buttons{
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .sudoku_app_button {
    font-size: 1em;
    height: auto;
    width: 7em;
  }

  .sudoku_code_button {
    font-size: 1em;
    height: auto;
    margin-left: 1em;
    width: 7em;
  }

  .posts_section {
    height: auto;
    margin-top: 10em;
    margin-left: 0em;
    padding-bottom: 10em;
    width: 100%;
  }

  .posts_text_title {
    display: block;
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
  }

  .posts_text {
    font-size: 2em;
  }

  .photos_page {
    margin-top: 10em;
  }

  .the_iron_yard_title {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
  }

  .caption {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .bio_section {
    background-image: none;
    background-color: sandybrown;
    border: black solid 5px;
    height: 90em;
    margin: 0 auto;
    margin-top: 11em;
    padding: 5em;
    width: 82%;
  }

  .bio_background {
    background-color: lightgrey;
  }

  .bio_text {
    font-family: 'Forum', serif;
    font-size: 2.3em;
    margin-left: 0em;
    width: 100%;
  }

  .bio_image {
    display: inline-block;
    background-color: green;
    border: solid 2px;
    height: 25em;
    margin-bottom: 0;
    width: 100%;
  }

}
