
*{
  box-sizing: border-box;
}


.bodyPage {
  /*background-image: url("/styles/code.jpg")*/
  background-image: url("/styles/desk.jpg");
  height: 20em;
}

.main_page{
  margin-top: 0;
}
.hidden {
  display: none;
}


.navBar {
 background-color: snow;
 /*border: solid 4px #3F51B5;*/
 border-radius: 5px;
 box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
 color: #3F51B5;
 height: 4em;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 1;
}

.myBox{
  text-decoration: none;
}

.myInfoBox{
  display: inline-block;
  height: 8%;
  width: 35%;
}

.myImage{
  /*border: darkgrey solid 3px;*/
  /*border-radius: 10px;*/
  display: inline-block;
  height: 3.5em;
  margin-left: .3em;
  margin-top: .2em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  width: 3.3em;
}

@keyframes zoom {
    from {height: 3.5em;
          width: 3.3em;}
    to {height: 8.5em;
          width: 9em;}
}

/* The element to apply the animation to */
.myImageLarge {
  border: darkgrey solid 3px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

  /*border-radius: 10px;*/
  animation-name: zoom;
  animation-duration: 1s;
  height: 8.5em;
  margin-left: .3em;
  margin-top: 1%;
  width: 9em;
}

.name_Info{
  display: inline-block;
  height: auto;
  vertical-align: top;
  width: 10em;
}

.myName{
  color: darkblue;
  display: inline-block;
  font-size: 35px;
  font-family: serif;
  margin: 0;
  text-decoration: none;
  vertical-align: top;
  white-space: pre;
}

.myContactInfo{
  color: black;
  font-size: 15px;
  font-family: serif;
  font-weight: lighter;
  margin: 0;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 1.8em;
  vertical-align: top;
  width: 8em;
}

.navTopRight{
    display: inline-flex;
    float: right;
    margin-top: 1%;
}

.homeButton{
  /*background-color: lightblue;*/
  /*border-radius: 5px;*/
  /*border: black solid 2px;*/
  /*box-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
  color: black;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;
  margin-right: .3em;
  margin-top: 1.8em;
  padding: 4px;
  text-decoration: none;
}


.github_icon{
  /*box-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
  color: black;

  font-family: 'Source Sans Pro', sans-serif;

  font-size: .9em;
  /*height: auto;*/
  margin-left: .1em;
  margin-right: .3em;
  margin-top: 2.3em;
  margin-bottom: .1em;
  white-space: pre;
}

.github_button{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  /*height: 2em;*/
}
/*.gitHubButton{
  background-color: white;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color: black;
  font-size: 13px;
  height: auto;
  margin-right: .3em;
  margin-top: .3em;
}*/

/*.navButton{*/
  /*background-color: lightblue;*/
  /*border-radius: 5px;*/
  /*border: black solid 2px;*/
  /*box-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
  /*color: black;
  font-size: 16px;
  height: auto;
  margin-right: .3em;
  margin-top: 1.8em;

  padding: 4px;
  text-decoration: none;*/
/*}*/

.navButton{
  /*background-color: lightblue;*/
  /*border-radius: 5px;*/
  /*border: black solid 2px;*/
  /*box-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
  color: black;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;
  margin-right: .3em;
  margin-top: 1.7em;
  padding: 4px;
  text-decoration: none;
}

.aboutMe{
  /*background-color: lightblue;*/
  /*border-radius: 5px;*/
  /*border: black solid 2px;*/
  /*box-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  height: auto;
  margin-right: .3em;
  margin-top: 1.8em;
  padding: 4px;
  text-decoration: none;
}

.home_page{
  /*background-image: url("/styles/desk.jpg");*/
  height: 38em;
  margin: 0;
  padding: 1em;
  width: 105%;
}

.home_area{
    /*background-color: lightgrey;*/
    /*height: 20em;*/
    margin-top: 5em;
    /*z-index: 2;*/
    height 1em;
}


.my_name_area{
  /*background-color: lightyellow;*/

  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 242, color-stop(0, #FFFFFF), color-stop(100, #8A9699));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #8A9699 100%);

  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);

  box-shadow: 8px 10px 9px rgba(0,0,0,0.3);


  /*border-top: lightgrey 7px solid;
  border-left: #999999 7px solid;
  border-right: #999999 7px solid;*/

  /*border-right: lightgrey 5px solid;*/
  /*border-left: #222222 10px solid;*/
  /*border-bottom: #222222 10px solid;*/
  /*display: inline-block;*/
  height: 10em;
  margin: 0 auto;
  opacity: .9;
  text-align: center;
  margin-top: 4.2em;
  padding: 1em;
  width: 40em;
  /*-webkit-perspective-origin: 25% 75%;*/
}

.my_name_area:hover{



    /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #F5F5F5 20%, #F3FFC2 100%);

  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #F5F5F5 20%, #F3FFC2 100%);

  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #F5F5F5 20%, #F3FFC2 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(20, #F5F5F5), color-stop(100, #F3FFC2));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #F5F5F5 20%, #F3FFC2 100%);

  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #F5F5F5 20%, #F3FFC2 100%);


  opacity: 1;
}



@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}






@-webkit-keyframes fade-in{
  from{
      opacity:0;
  }
  to{
      opacity:1;
  }
}

.my_name{
  -webkit-animation:fade-in 10s;
  opacity: 1;
  color: darkslategrey;
  font-size: 6em;
  /*font-family: 'Cinzel', sans-serif;*/
/*font-family: 'Expletus Sans', sans-serif;*/
/*font-family: 'Inika', serif;*/
  font-family: 'Raleway', sans-serif, bold;
  margin: 0 auto;
  margin-bottom: 0;
  text-align: center;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 4px 6px 5px rgba(0,0,0,0.3);
  -webkit-perspective: 600;
}

/*.my_title{
  opacity: 0;
  display: inline;
  position: absolute;
  -webkit-animation:fade-in 4s infinite;
  -webkit-animation-delay: 3s;

  color: darkslategrey;
  font-family: sans-serif;
  font-size: 3em;
  margin-top: .4em;
  margin-bottom: 0;
  text-align: center;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
/*}*/

.skills_area{

  box-shadow: 8px 10px 9px rgba(0,0,0,0.3);

  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 242, color-stop(0, #FFFFFF), color-stop(100, #8A9699));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #8A9699 100%);


  /*border-right: white 5px solid;
  border-bottom: gainsboro 5px solid;*/


  /*background-color: lightcyan;*/
  /*background-image: url("/styles/code.jpg")*/
  /*opacity: .2;*/
  /*background-color: lightcyan;*/

  /*border: solid 2px;*/
  /*border-top: grey 5px solid;
  border-right: grey 5px solid;*/

  display: inline-block;
  height: 15em;
  /*float: right;*/
  margin-left: 6em;
  margin-right: 0;
  margin-top: 11em;
  background-color: rgba(255,255,255,0.3);
  opacity: .8;
  vertical-align: top;
  width: 25em;
}

.skills_area:hover{
  background-image: url("/styles/code.jpg");
  opacity: 1;
}

.skills_area:hover .skills_text{
  color: white;
  opacity: 1;
}

/*.skills_area1{
  /*background-image: url("/styles/code.jpg");*/
  /*background-color: lightcyan;
  border-top: darkgrey 10px solid;
  border-right: darkgrey 10px solid;
  display: inline-block;
  height: 3em;
  opacity: .2;
  position: relative;
  vertical-align: top;
  width: 25em;
}*/

.skills_text{
  color: black;
  float: inherit;
  font-family: 'Ubuntu', sans-serif;
  font-size: 5em;
  height: 1em;
  margin: 0 auto;
  margin-top: .8em;
  opacity: 1;
  text-align: center;
  width: 100%;
}



.descriptions_marquee{
  font-size: 1em;
  height: 10em;
  margin:0 auto;
  margin-left: 1em;
  width: 10em;
  white-space: pre;
}

.my_descriptions_right{
  color: saddlebrown;
  display: inline-block;
  font-size: 1.5em;
  margin: 0 auto;
  margin-left: 2em;
  margin-top: .2em;
  width: 6em;
  white-space: pre;
}

.my_descriptions_left{
  color: tomato;
  display: inline-block;
  font-size: 1.5em;
  margin: 0 auto;
  margin-left: 2em;
  margin-top: 1em;
  width: 6em;
  white-space: pre;
}



/*#logo{
	display:block;

	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);

	-webkit-transform-origin: 250px 100px;
	-moz-transform-origin: 250px 100px;
	-ms-transform-origin: 250px 100px;
	-o-transform-origin: 250px 100px;
	transform-origin: 250px 100px;

	margin-bottom: 75px ;
	padding: 0 0 0 25px;


}*/

#logo h1 {
	font-size: 4em;
	margin:0 ;
	font-family: 'Changa One', sans-serif;
	font-weight: normal;
	color: black;
}

#logo h1 {
	font-size: 1.5em;
	margin: 0 0 0 75px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-variant: small-caps;


    -webkit-animation: text-fall 3s 2.5s ease-in-out both;
    -moz-animation: text-fall 3s 2.5s ease-in-out both;
    -ms-animation: text-fall 3s 2.5s ease-in-out both;
    -o-animation: text-fall 3s 2.5s ease-in-out both;
    animation: text-fall 3s 2.5s ease-in-out both;

	-webkit-transform-origin:0 50%;
	-moz-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	transform-origin: 0 50%;
}



@-webkit-keyframes text-fall {
     0% {
        -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
        -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    }

    15% {
        -webkit-transform: rotate3d(0, 0, 1, 130deg);
            transform: rotate3d(0, 0, 1, 130deg);

        }

    20% {
        -webkit-transform: rotate3d(0, 0, 1, 80deg);
            transform: rotate3d(0, 0, 1, 80deg);

        }

    30% {
        -webkit-transform: rotate3d(0, 0, 1, 115deg);
            transform: rotate3d(0, 0, 1, 115deg);

        }

    40% {

        -webkit-transform: rotate3d(0, 0, 1, 85deg);
            transform: rotate3d(0, 0, 1, 85deg);

        }

    50% {
        -webkit-transform: rotate3d(0, 0, 1, 107deg);
            transform: rotate3d(0, 0, 1, 107deg);

        }

    80% {

        -webkit-transform:rotateZ(102.5deg); opacity: 1;
            transform:rotateZ(102.5deg);

        }

    100% {
        -webkit-transform:rotateZ(102.5deg) translate3d(400px, 0 , 0);opacity:0;
            transform:rotateZ(102.5deg) translate3d(400px, 0 , 0);

        }
}



@keyframes text-fall {
    0% {
        -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
        -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    }

    15% {
        -webkit-transform: rotate3d(0, 0, 1, 130deg);
            transform: rotate3d(0, 0, 1, 130deg);

        }

    20% {
        -webkit-transform: rotate3d(0, 0, 1, 80deg);
            transform: rotate3d(0, 0, 1, 80deg);

        }

    30% {
        -webkit-transform: rotate3d(0, 0, 1, 115deg);
            transform: rotate3d(0, 0, 1, 115deg);

        }

    40% {

        -webkit-transform: rotate3d(0, 0, 1, 85deg);
            transform: rotate3d(0, 0, 1, 85deg);

        }

    50% {
        -webkit-transform: rotate3d(0, 0, 1, 107deg);
            transform: rotate3d(0, 0, 1, 107deg);

        }

    80% {

        -webkit-transform:rotateZ(102.5deg); opacity: 1;
            transform:rotateZ(102.5deg);

        }

    100% {
        -webkit-transform:rotateZ(102.5deg) translate3d(400px, 0 , 0);opacity:0;
            transform:rotateZ(102.5deg) translate3d(400px, 0 , 0);

        }
}


.intro_area{
  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 242, color-stop(0, #FFFFFF), color-stop(100, #8A9699));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #8A9699 100%);

  box-shadow: 8px 10px 9px rgba(0,0,0,0.3);
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  margin-top: 3em;
  margin-left: 1em;
  opacity: .9;
  position: relative;
  height: 20em;
  width: 45em;
}


.intro_area:hover{

  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);

  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);

  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #F2F2F2), color-stop(100, #7db9e8));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);

  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #F2F2F2 0%, #7db9e8 100%);

  box-shadow: 8px 10px 9px rgba(0,0,0,0.3);
  opacity: 1;
}

/*@keyframes collapse {
    from {height: 20em;
          margin-left: 1em;
          margin-top: 2em;
          width: 40em;}
    to {height: 1em;
      margin-left: 20em;
      margin-top: 12em;
          width: 1em;}
}*/

.intro_text{
  font: arial;
  display: inline-block;
  font-size: 1.1em;
  margin: 0;
  padding: 1em;
  text-indent: 1em;
}

/*.intro_text_hidden{
  display: none;
}*/

.intro_text_italics{
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  font-family: Times, serif;
  margin: 0;
  text-indent: .3em;
}

.projects_button{
  /*background-color: white;
  font-weight: bold;
  height: 2em;
  margin-left: 30em;
  margin: 0 auto;
  width: 10%;*/

  background-color: white;
  font-size: 1em;
  font-family: 'Raleway', sans-serif, bold;
  height: 2em;
  /*margin-left: 50em;*/
  margin-left: 20em;
  /*margin-left: 1em;*/
  padding: 0;
  width: 5em;
}



.project_area{
/* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #1e5799 0%, #081029 100%);

/* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #1e5799 0%, #081029 100%);

/* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #1e5799 0%, #081029 100%);

/* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #1e5799), color-stop(100, #081029));

/* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #1e5799 0%, #081029 100%);

/* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #1e5799 0%, #081029 100%);


  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(100, #748FA6));

 /* Need position to allow stacking of pseudo-elements */
  position: relative;
 /* Padding for demo purposes */
  padding: 30px;
  display: none;
  height: 35em;
  margin-top: 6em;
  margin-left: 8em;
  width: 62em;
}

.project_area,
.project_area::before,
.project_area::after {
  /* Add shadow to distinguish sheets from one another */
  box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
}

.project_area::before,
.project_area::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index: 0;

}

/* Second sheet of project_area */
.project_area::before {
  left: 7px;
  top: 5px;
  z-index: -1;
}

/* Third sheet of project_area */
.project_area::after {
  left: 12px;
  top: 10px;
  z-index: -2;
}

/*.project_area::after {
  background-color: black;
  left: 14px;
  top: 12px;
  z-index: -;
}*/

.project_area_collapse{

  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);

  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);

  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #F2F2F2), color-stop(100, #7db9e8));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #F2F2F2 0%, #7db9e8 100%);

  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #F2F2F2 0%, #7db9e8 100%);

  box-shadow: 8px 10px 9px rgba(0,0,0,0.3);
  opacity: 1;
  animation-name: collapse;
  animation-duration: 1s;
}

.project_image{
  display: inline-block;
  height: 25em;
  margin-left: 1em;
  margin-top: 1em;
  width: 35em;
}

.sudoku_title{
  /*font-family: 'Poppins', sans-serif;*/
  color: darkslategrey;

  font-family: 'Raleway', sans-serif, bold;

  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  width: 14em;
}


/*.sudoku_image{
  display: block;
  height: 10em;
  width: 14em;
}*/

/*.cubeArea {
  height: 15em;
  width: 15em;
}*/

.wrap {
  display: inline-block;
  height: 10em;
  margin-left: 1em;
	perspective: 60em;
	perspective-origin: 40% -10em;
  width: 20em;
  vertical-align: top;
  margin-top: 3em;


}

/*.cube-wrap.vertical .cube {
	margin: 0 auto;
	transform-origin: 0 7em;
	animation: spin-vertical 1s infinite linear;
  width: 100%;
}*/

/*.cube-wrap.vertical .top {
	transform: rotateX(-270deg) translateY(-4em);
}

.cube-wrap.vertical .back {
	transform: translateZ(-4em) rotateX(180deg);
}

.cube-wrap.vertical .bottom {
	transform: rotateX(-90deg) translateY(4em);
}*/


@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 30s infinite linear;
  margin: 0 auto;
  position: relative;
	width: 26em;
	transform-style: preserve-3d;
}

/*@keyframes spin-vertical {
	from { transform: rotateX(0); }
	to { transform: rotateX(-360deg); }
}*/
/*
.cube-wrap.vertical .cube {
	margin: 0 auto;
	transform-origin: 0 4em;
	animation: spin-vertical 5s infinite linear;
}

.cube-wrap.vertical .top {
	transform: rotateX(-270deg) translateY(-4em);
}

.cube-wrap.vertical .back {
	transform: translateZ(-4em) rotateX(180deg);
}

.cube-wrap.vertical .bottom {
	transform: rotateX(-90deg) translateY(4em);
}*/




.cube div {
	position: absolute;
	width: 16em;
	height: 16em;
  margin-left: 5em;
}

.back {
  /*border: solid 2px;*/
	transform: translateZ(-8em) rotateY(180deg);
  /* IE10+ */
  /*background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* Mozilla Firefox */
  /*background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* Opera */
  /*background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* Webkit (Safari/Chrome 10) */
  /*background-image: -webkit-gradient(radial, center center, 0, center center, 242, color-stop(0, #FFFFFF), color-stop(100, #8A9699));*/

  /* Webkit (Chrome 11+) */
  /*background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* W3C Markup */
  /*background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #8A9699 100%);*/


}


.right {
  /*border: solid 2px;*/
	transform: rotateY(-270deg) translateX(8em);
	transform-origin: top right;

  /* IE10+ */
  /*background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* Mozilla Firefox */
  /*background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* Opera */
  /*background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* Webkit (Safari/Chrome 10) */
  /*background-image: -webkit-gradient(radial, center center, 0, center center, 242, color-stop(0, #FFFFFF), color-stop(100, #8A9699));*/

  /* Webkit (Chrome 11+) */
  /*background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* W3C Markup */
  /*background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #8A9699 100%);*/


}

.left {
  /*border: solid 2px;*/
	transform: rotateY(270deg) translateX(-8em);
	transform-origin: center left;
  /* IE10+ */
  /*background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* Mozilla Firefox */
  /*background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* Opera */
  /*background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* Webkit (Safari/Chrome 10) */
  /*background-image: -webkit-gradient(radial, center center, 0, center center, 242, color-stop(0, #FFFFFF), color-stop(100, #8A9699));*/

  /* Webkit (Chrome 11+) */
  /*background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* W3C Markup */
  /*background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #8A9699 100%);*/



}


.top {
  /*border: solid 2px;*/
	transform: rotateX(-90deg) translateY(-8em);
	transform-origin: top center;

  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 242, color-stop(0, #FFFFFF), color-stop(100, #8A9699));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);

  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #8A9699 100%);

  /* IE10+ */
  /*background-image: -ms-radial-gradient(center, ellipse closest-side, #FFFFFF 40%, #CFCFD9 100%);*/

  /* Mozilla Firefox */
  /*background-image: -moz-radial-gradient(center, ellipse closest-side, #FFFFFF 40%, #CFCFD9 100%);*/

  /* Opera */
  /*background-image: -o-radial-gradient(center, ellipse closest-side, #FFFFFF 40%, #CFCFD9 100%);*/

  /* Webkit (Safari/Chrome 10) */
  /*background-image: -webkit-gradient(radial, center center, 0, center center, 125, color-stop(40, #FFFFFF), color-stop(100, #CFCFD9));*/

  /* Webkit (Chrome 11+) */
  /*background-image: -webkit-radial-gradient(center, ellipse closest-side, #FFFFFF 40%, #CFCFD9 100%);*/

  /* W3C Markup */
  /*background-image: radial-gradient(ellipse closest-side at center, #FFFFFF 40%, #CFCFD9 100%);*/

  background-color: white;
}

.bottom {
  background-color: lightgrey;
  /*border: solid 2px;*/
	transform: rotateX(90deg) translateY(8em);
	transform-origin: bottom center;
}

.front {
	transform: translateZ(8em);
  /*border: solid 2px;*/

  /* IE10+ */
  /*background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* Mozilla Firefox */
  /*background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* Opera */
  /*background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* Webkit (Safari/Chrome 10) */
  /*background-image: -webkit-gradient(radial, center center, 0, center center, 242, color-stop(0, #FFFFFF), color-stop(100, #8A9699));*/

  /* Webkit (Chrome 11+) */
  /*background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #8A9699 100%);*/

  /* W3C Markup */
  /*background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #8A9699 100%);*/


}

.sudokuImageCube {
  border: black solid 2px;
  float: left;
  height: 100%;
  width: 100%;
}

.sudoku_description{
  /*border: solid black 2px;*/
  display: inline-block;
  height: 20em;
  margin-left: 11em;
  margin-top: 2em;
  width: 20em;
}

.sudoku_text{
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  text-indent: 1em;
}

.sudoku_app_button{
  background-color: darkgrey;
  color: black;
  height: 2em;
  width: 10em;
}

.sudoku_code_button{
  background-color: darkgrey;
  color: black;
  height: 2em;
  margin-left: 2em;
  width: 10em;
}



/*.dollartrak_area{
  background-color: lightblue;
  background-color: darkseagreen;
  display: inline-block;
  height: 44em;
  margin-top: 3em;
  margin-left: -1em;
  width: 105%;
}*/

.dollartrak_title{
  /*font-family: 'Poppins', sans-serif;*/
  color: darkslategrey;

  font-family: 'Raleway', sans-serif, bold;

  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  width: 14em;
}

.dollartrak_description{
  /*border: solid black 2px;*/
  display: inline-block;
  height: 20em;
  margin-left: 1em;
  margin-top: 2em;
  vertical-align: top;
  width: 20em;
}

.dollartrak_text{
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  text-indent: 1em;
}

.play_dollartrak_movie{
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
}

.dollartrak_video{
  display: inline-block;
  height: 7em;
  margin-left: 5em;
  width: 10em;
}

.dollartrak_code_button{
  background-color: darkgrey;
  color: black;
  display: block;
  margin-left: 11em;
  vertical-align: top;
  margin-top: 3em;
}

.spurs_blog_title{
  /*font-family: 'Poppins', sans-serif;*/
  color: darkslategrey;

  font-family: 'Raleway', sans-serif, bold;

  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  width: 14em;
}

.spurs_blog_description{
  /*border: solid black 2px;*/
  display: inline-block;
  height: 20em;
  margin-left: 1em;
  margin-top: 2em;
  vertical-align: top;
  width: 20em;
}

.spurs_blog_text{
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  text-indent: 1em;
}

.spursblog_app_button{
  background-color: darkgrey;
  color: black;
  height: 2em;
  width: 10em;
}

.spursblog_code_button{
  background-color: darkgrey;
  color: black;
  height: 2em;
  margin-left: 2em;
  width: 10em;
}



.tictactoe_image{
  border: solid grey 2px;
  display: inline-block;
  height: 25em;
  margin-left: 3em;
  margin-top: 2em;
  width: 25em;
}

.tictactoe_title{
  /*font-family: 'Poppins', sans-serif;*/
  color: darkslategrey;
  font-family: 'Raleway', sans-serif, bold;
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  width: 14em;
}

.tictactoe_description{
  /*border: solid black 2px;*/
  display: inline-block;
  height: 20em;
  margin-left: 3em;
  margin-top: 3em;
  vertical-align: top;
  width: 25em;
}

.tictactoe_text{
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  text-indent: 1em;
}

.tictactoe_app_button{
  background-color: darkgrey;
  color: black;
  height: 2em;
  width: 10em;
}

.tictactoe_code_button{
  background-color: darkgrey;
  color: black;
  height: 2em;
  margin-left: 2em;
  width: 10em;
}


.posts_section{
  background-color: white;
  box-shadow: 12px 12px 12px rgba(0,0,0,0.3);
  /*border: solid 2px;*/
  height: 30em;
  margin-left: 15%;
  margin-top: 10%;
  overflow: scroll;
  padding: 2%;
  width: 70%;
}

.postsTextTitle{
  color: darkblue;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 1%;
  margin-right: .3em;
  text-indent: 1em;
}

.postsText{
  color: black;
  display: block;
  font-size: 1.2em;
  font-style: italic;
  font-weight: lighter;
  margin: 1%;
  word-wrap: break-word;
}

.topButton{
  display: none;
}

.theIronYardTitle{
  color: white;
  display: inline-block;
  font-size: 3em;
  font-weight: normal;
  margin-left: 22%;
  margin-top: 2em;
  white-space: pre;
}

.theIronYard{
  color: orchid;
  font-size: 3em;
  font-weight: normal;
}

.imageTIY{
  border: black solid 4px;
  display: block;
  margin-top: 1%;
  margin: 0 auto;
  width: 60%;
}

.imageCert{
  border: black solid 4px;
  display: block;
  height: 5%;
  margin: 0 auto;
  margin-top: 5em;
  width: 60%;
}

.caption1{
  color: white;
  display: inline-block;
  font-size: 2em;
  margin-top: 2%;
  margin-left: 8em;
  margin-bottom: 0;
}

.photosPage{
  background-color: darkslategray;
  border: solid 5px;
  height: auto;
  padding-bottom: 2em;
  width: 105%;
}

.display_photo_none{
  display: none;
}

.my_projects{
  /*background-color: black;*/
  /*border: solid 5px;*/
/*  display: flex;*/
  /*height: 45%;*/
  /*height: 33em;*/
  margin: 0 auto;
  margin-left: -1em;
  padding: 2em;
  vertical-align: top;
  /*width: 60%;*/
  display: none;
  /*width: 33em;*/
}

.slide_button_area{
  /*margin-top: 3em;*/
  height: 4em;
  left: 25em;
  top: 33em;
  /*margin: 0 auto;*/
  position: absolute;
  width: 12em;
}

/*.slide_button_label {
  border: solid 2px;
  font-family: courier;
  font-size: 1em;

    margin-left: 34em;
}*/

.slide_button_left{
  background-color: grey;
  font-size: 1em;
  font-family: 'Raleway', sans-serif, bold;
  /*height: auto;*/
  /*margin-left: 50em;*/
  margin-left: 1em;
  padding: 0;
  width: 5em;
}

.slide_button_right{
  background-color: grey;
  font-size: 1em;
  font-family: 'Raleway', sans-serif, bold;
  /*height: auto;*/
  /*margin-left: 50em;*/
  margin-left: 1em;
  padding: 0;
  width: 5em;
  white-space: pre;
}

.first_project {
  display: inline-block;
}

.slide_image{
  height: 30em;
  width: 40em;
}

.slide{
    position: absolute;
    left: 78em;
    /*width: 100px;
    height: 100px;*/
    /*background: blue;*/
    -webkit-animation: slide .5s forwards;
    animation: slide .9s forwards;
    width: 105%;
}

@keyframes slide {
    100% { left: 0; }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}


@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

/*.fade_out {
  -webkit-animation-name: fade_out;
  -webkit-animation-duration: 3s;
  animation-name: fade_out;
  animation-duration: 3s;
}

@keyframes fade_out {
  from {opacity: 1}
  to {opacity: 0}
}*/

.photos{
  border: solid 5px;
  display: flex;
  height: 45%;
  margin: 0 auto;
  vertical-align: top;
  width: 60%;
}

.photos_instruction{
  border: solid 5px;
  display: flex;
  height: 45%;
  margin: 1%;
  margin-right: .3em;
  vertical-align: top;
  width: 60%;
}

.photosFooter{
  padding-bottom: 1em;
}

.homeButton_bottom{
  font-size: 2em;
  margin-left: 1em;
  padding-bottom: 5px;
}

.bio_Section{
  background-image: url("/styles/tx.jpg");
  border: black solid 5px;
  /*border-radius: 10px;*/
  height: 43em;
  margin-left: 7%;
  margin-top: 4em;
  padding: 5em;
  width: 82%;
}

.bio_Background{
  background-color: lightyellow;
  border: solid 2px;
  /*border-radius: 15px;*/
  height: auto;
  opacity: .85;
}

.bio_Text{
  color: black;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: .2;
  padding: .8em;
  text-indent: 1em;
  width: auto;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  .bodyPage{
    /*background-image: url("/styles/desk.jpg");*/
    background-color: lightgrey;
    background-image: none;
    width: 100%;
  }

  .myInfoBox{
    margin-left: 20em;

  }

  .myImage{
    /*margin-left: 20em;*/
    height: 5em;
    width: 7em;
  }

  .myContactInfo{
    font-size: 2em;
    margin-top: .2em;
    width: 10em;
  }

  .navBar{
    height: 9em;
  }

  .navTopRight{
    /*display: inline-flex;*/
    float: left;
    height: 4em;
    width: 100%;
  }

  .navButton{
    font-size: 2em;
    height: 1em;
    margin-right: 2em;
    margin-top: 0em;
    text-align: center;
    width: 4em;
  }

  .my_name_area{
    margin-top: 12em;
    margin-left: 16%;
  }

  .intro_area{
    font-size: 2em;
    height: auto;
    margin-left: 0%;
    margin-top: 2em;
    width: 100%;
  }

  .projects_button{
    font-size: 1.5em;
    margin-left: 40%;
    margin-bottom: 1em;
  }

  .skills_area{
    margin-left: 30%;
    margin-top: 5em;
  }

  .project_area{
    font-size: 2em;
    height: 90em;
    margin-left: 0;
    margin-top: 5em;
    width: 40em;
  }

  /*.fade{
    font-size: 2em;
    height: 60em;
    margin-left: 0;
    margin-top: 5em;
    width: 100%;
  }*/

  .slide_button_area{
    top: 85em;
    left: 10em;
    margin-left: 0em;
    width: 20em;
  }

  .slide_button_left{
    font-size: 2em;
    margin-left: 0em;
  }

  .slide_button_right{
    font-size: 2em;
    margin-left: 0em;
  }

  .tictactoe_title{
    margin-left: 2em;
    margin-top: 1em;
    width: 10em;
  }

  .tictactoe_description{
    font-size: 2em;
    width: 80%;
  }

  .tictactoe_image{
    margin-left: 20%;
  }

  .tictactoe_app_button{
    font-size: 1em;
    width: 6em;
  }

  .tictactoe_code_button{
    font-size: 1em;
    width: 6em;
  }

  .project_image{
    margin-left: 8%;
  }

  .spurs_blog_title{
    margin-top: 2em;
  }

  .spurs_blog_description{
    font-size: 2em;
    width: 80%;
  }

  .spursblog_app_button{
    font-size: 1em;
    margin-left: 5%;
    width: 6em;
  }

  .spursblog_code_button{
    font-size: 1em;
    width: 6em;
  }

  .dollartrak_description{
    font-size: 2em;
    margin-left: 2em;
    width: 85%;
  }

  .play_dollartrak_movie{
    margin-left: 3%;
  }

  .dollartrak_video{
    margin-left: 18%;
  }

  .dollartrak_code_button{
    height: auto;
    font-size: 1em;
    margin-left: 34%;
    margin-top: 2em;
  }

  .sudoku_title{
    margin-top: 1em;
  }

  .cube{
    margin-top: 1em;
    margin-left: 4em;
  }

  .sudoku_description{
    font-size: 1.5em;
    margin-left: 3em;
    margin-top: 10em;
    width: 80%;
  }

  .sudoku_app_button{
    font-size: 1.5em;
    height: auto;
    width: 6em;
  }

  .sudoku_code_button{
    font-size: 1.5em;
    height: auto;
    width: 6em;
  }

  .posts_section{
    margin-top: 10em;
    height: auto;
  }

  .photosPage{
    margin-top: 10em;
  }

}
